body{
    background: gray;
    font-family: Verdana, sans-serif;
}
.begin {
    background-color: rgb(88, 4, 15);
    background-image: url();
}
.info {
    background-color: white;
}
.nav {
    background-color: darkslategrey;
    text-align: right;
    display: inline-block;
    text-decoration: none;
    color: white;
}
.nav a:hover {
    background: lightgrey;
}
.footer {
    background-color: darkslategray;
}